%template#application-tmpl
	-ko("ifnot: $view.is_checking_session") do
		-ko("ifnot: $view.is_logged_in") do
			-ko("view: $view.splash_view")
		-ko("if: $view.is_logged_in") do
			#header
				.logo
					rokk
					.highlight<> .in
				%form.search-form<>
					%input(type="text" placeholder="Search...")
					%i.ion-search

				.pull-right
					.mini-profile(data-bind="with: $view.current_user")
						%img(data-bind="src: Helpers.resize_avatar(avatar_url, 'small')")
						-ko("text: full_name")

					.logout(title="Logout" data-bind="click: $view.logout")
						%i.ion-power

			-ko("view: $view.content_view")