%template#application-tmpl
	-ko("if: $view.is_checking_session") do
		.loader.jumbo
	-ko("ifnot: $view.is_checking_session") do
		-ko("ifnot: $view.is_logged_in") do
			-ko("view: $view.splash_view")
		-ko("if: $view.is_logged_in") do
			#overlay(data-bind="css: {'visible': $view.is_showing_modal}, click: $view.hideModal")
				.overlay-modal(data-bind="stopEvent: 'click'")
					.overlay-modal-close(data-bind="click: $view.hideModal")
						%i.ion-close
					-ko("view: $view.modal_view")
			#header
				%form.search-form(data-bind="submit: $view.searchSubmit")<>
					%input(type="text" placeholder="Search..." data-bind="value: $view.search_query, valueUpdate: 'afterkeydown'")
					%i.ion-search

				.pull-right
					.mini-profile(data-bind="with: $view.current_user")
						%img(data-bind="src: Helpers.resizeImage(avatar_url, 'small')")
						-ko("text: full_name")

			#sidebar
				.logo
					rokk
					.highlight<> .in

				%ul.sidebar-menu
					%li.sidebar-menu-item(data-bind="css: {'selected': $view.is_dashboard_selected}, click: Router.gotoDashboard")
						%i.ion-compass
						Dashboard

					%li.sidebar-menu-item(data-bind="css: {'selected': $view.is_stream_selected}, click: Router.gotoStream")
						%i.ion-social-rss
						Stream

					%li.sidebar-menu-item(data-bind="click: Router.gotoProfile")
						%i.ion-person
						Profile

					%li.sidebar-menu-item(data-bind="css: {'selected': $view.is_settings_selected}, click: Router.gotoSettings")
						%i.ion-gear-b
						Settings

				.logout(title="Logout" data-bind="click: $view.logout")
					%i.ion-power
					Logout

			#content(data-bind="view: $view.content_view")