!!!5
%html
	%head
		%title rokk.in | Fund and Discover Great Music

		%link(href="http://fonts.googleapis.com/css?family=Play" rel="stylesheet" type="text/css")
		%link(href="/css/reset.css" rel="stylesheet" type="text/css")
		%link(href="/css/ionicons.min.css" rel="stylesheet" type="text/css")
		%link(href="/css/icomoon.css" rel="stylesheet" type="text/css")
		%link(href="/web/css/rokkin.min.css" rel="stylesheet" type="text/css")

		%script(src="http://connect.soundcloud.com/sdk.js")

		%script(src="/js/jquery-1.10.2.min.js" type="text/javascript")
		%script(src="/js/underscore-1.5.2.min.js" type="text/javascript")
		%script(src="/js/knockout-3.0.0.min.js" type="text/javascript")
		%script(src="/js/falcon.min.js" type="text/javascript")
		%script(src="/js/finch.min.js" type="text/javascript")

		:javascript
			Falcon.baseApiUrl = "/api";
			window.ENV = ENV = {
				"SOUNDCLOUD_CLIENT_ID": "43c5eb08ce4cad456b238c464be6543e",
				"SOUNDCLOUD_REDIRECT_URL": "#{soundcloud_redirect_url}"
			};

		%script(src="/web/js/rokkin.js" type="text/javascript")
