!!!5
%html
	%head
		%title Rokk.in | Fund and Discover Great Music

		%link(href='http://fonts.googleapis.com/css?family=Average+Sans|PT+Sans|Maven+Pro:400,500|Play' rel='stylesheet' type='text/css')
		%link(href='/css/reset.css' rel='stylesheet' type='text/css')

	%body
		Hello World