%template#splash-tmpl
	#splash
		.logo
			rokk
			.highlight<> .in
		.tagline
			Fund &amp; Discover Great Music
		.login-button(data-bind="click: $view.connect")
			%i.icon-soundcloud
			Sign In with SoundCloud