%template#splash-tmpl
	#splash
		.splash-inner
			.logo
				rokk
				.highlight<> .in
			.tagline
				Fund &amp; Discover Great Music
			.login-button(data-bind="click: $view.connect")
				%i.icon-soundcloud
				Sign In with SoundCloud