#content:after
	+gradient( $black-lighter, rgba( $black-lighter, 0 ) )
	content: ""
	border-top: 1px solid $black-lighter
	position: fixed
	z-index: 2
	top: 61px
	left: 250px
	right: 25px
	height: 10px

#content
	position: absolute
	z-index: 1
	top: 75px
	left: 250px
	right: 25px
	padding: 5px 0px 25px 0px
	color: $white