body *
	+border-box
	+smooth-font
	font-family: $main-font
	letter-spacing: .05em
	font-weight: 200

body
	background-color: $black-lighter
	overflow-y: scroll
	overflow-x: hidden

p
	text-rendering: optimizeSpeed

.pull-right
	float: right

ul
	list-style: none
	padding: 0px
	margin: 0px

.pull-left
	float: left
	
.pull-right
	float: right