body *
	+border-box
	font-family: $main-font
	letter-spacing: .05em
	font-weight: 200
	text-rendering: optimizeLegibility

html,
body,
#application
	height: 100%
	width: 100%

#application
	background-color: $black-lighter

p
	text-rendering: optimizeSpeed