body *
	+border-box
	+smooth-font
	font-family: $main-font
	letter-spacing: .05em
	font-weight: 200

body
	background-color: $black-lighter

p
	text-rendering: optimizeSpeed

.pull-right
	float: right