#header
	+box-shadow(0px, 1px, 0px, $highlight)
	position: fixed
	z-index: 2
	top: 0px
	left: 235px
	right: 10px
	height: 61px
	line-height: 50px
	border-bottom: 1px solid $shadow
	padding: 5px 10px 0px 10px
	color: $grey-darkest
	background-color: mix( $white-darkest, $grey-lightest )
	background-color: rgba( mix( $white-darkest, $grey-lightest ), .95 )

	form.search-form
		position: relative
		display: inline-block
		padding: 0px
		margin: 0px
		vertical-align: middle
		height: 30px

		i
			position: absolute
			top: 0px
			right: 0px
			height: 30px
			width: 30px
			line-height: 30px
			text-align: center
			color: $grey-lighter

		input
			height: 30px
			width: 300px
			vertical-align: top
			padding-right: 30px

	.mini-profile
		display: inline-block
		font-size: 11px
		font-weight: 500
		text-shadow: 0px 1px 0px $white

		img
			+border-radius( 2px )
			vertical-align: middle
			height: 25px
			margin-right: 10px