input:focus,
textarea:focus
	background-color: $white
	color: $black-lightest

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder
	color: mix( $grey, $grey-lighter )

input,
textarea
	+box-shadow(0px, 1px, 0px, $shadow )
	+border-radius(2px)
	+transition-duration(.1s)
	border: 0px
	background-color: mix( $white, $white-darker, 25% )
	padding: 4px 9px
	line-height: 20px
	font-size: 12px
	outline: none
	margin: 0px
	border: 1px solid transparent
	font-weight: 400
	color: $black-lightest
	resize: none

input.input-large,
textarea.input-large
	padding: 7px 9px
	line-height: 25px
	font-size: 16px

input.input-block,
textarea.input-block
	width: 100%