#sidebar
	position: fixed
	z-index: 2
	top: 0px
	bottom: 0px
	left: 0px
	width: 226px
	padding: 0px 0px 0px 0px
	margin: 0px
	border-right: 1px solid mix( $black, $black-lighter, 25% )
	text-shadow: 0px 1px 0px mix( $black, $black-lighter, 25% )
	color: $white-darkest
	background-color: $black-lighter

	.logo
		+box-shadow(0px, 1px, 0px, mix( $black-lighter, $black-lightest ) )
		font-family: $logo-font
		font-size: 28px
		color: $white-darkest
		letter-spacing: .05em
		text-shadow: 0px 1px 0px mix( $black, $black-lighter, 25% )
		line-height: 50px
		border-bottom: 1px solid mix( $black, $black-lighter, 25% )
		height: 61px
		margin: 0px 10px
		padding: 10px 15px 0px 15px

		.highlight
			display: inline
			color: $orange
			font-family: $logo-font

	ul.sidebar-menu
		li.sidebar-menu-item.selected,
		li.sidebar-menu-item.selected:hover
			color: $orange
			background-color: mix( $black, $black-lighter )
			cursor: default

			i
				color: $grey-lightest

		li.sidebar-menu-item:hover
			color: $orange-lighter

			i
				color: $white-darkest

		li.sidebar-menu-item
			+transition-duration(.1s)
			padding: 0px 25px
			font-size: 13px
			height: 50px
			line-height: 50px
			width: 100%
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
			cursor: pointer
			text-transform: uppercase
			letter-spacing: .2em
			font-weight: 400

			i
				margin: 0px
				width: 25px
				font-size: 22px
				vertical-align: middle
				color: $white-darkest

	.logout:hover
		color: $white-darkest

		i
			color: $orange-lighter

	.logout
		+transition-duration(.1s)
		position: absolute
		left: 0px
		bottom: 0px
		padding: 0px 25px 20px 25px
		font-size: 13px
		height: 50px
		line-height: 50px
		width: 100%
		overflow: hidden
		cursor: pointer
		text-transform: uppercase
		letter-spacing: .2em
		font-weight: 400
		color: $grey-darkest

		i
			+transition-duration(.1s)
			margin: 0px
			width: 25px
			font-size: 22px
			vertical-align: middle
			color: $grey-darkest