<!DOCTYPE html>
<html>
<head>
<title>Rokk.in | Fund and Discover Great Music</title>
<link href="http://fonts.googleapis.com/css?family=Average+Sans|PT+Sans|Maven+Pro:400,500|Play" rel="stylesheet" type="text/css">
<link href="/css/reset.css" rel="stylesheet" type="text/css">
<link href="/css/ionicons.min.css" rel="stylesheet" type="text/css">
<link href="/web/css/rokkin.min.css" rel="stylesheet" type="text/css">
<script src="/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/js/knockout-3.0.0.min.js" type="text/javascript"></script>
<script src="/js/falcon.min.js" type="text/javascript"></script>
<script src="/js/finch.min.js" type="text/javascript"></script>
<script src="/web/js/rokkin.js" type="text/javascript"></script>
</head>
<body>
<div id="application"></div>
</body>
</html>
<template id="application-tmpl">
<div id="header">
<div class="logo">
rokk<div class="highlight">.in</div></div><form class="search-form"><input placeholder="Search..." type="text">
<i class="ion-search"></i></form></div>
<div id="content">
Hello World
</div>
</template>
