!!!5
%html
	%head
		%title rokk.in | Fund and Discover Great Music

		%link(href="http://fonts.googleapis.com/css?family=Average+Sans|PT+Sans|Maven+Pro:400,500|Play" rel="stylesheet" type="text/css")
		%link(href="/css/reset.css" rel="stylesheet" type="text/css")
		%link(href="/css/ionicons.min.css" rel="stylesheet" type="text/css")
		%link(href="/css/icomoon.css" rel="stylesheet" type="text/css")
		%link(href="/web/css/rokkin.min.css" rel="stylesheet" type="text/css")

		%script(src="http://connect.soundcloud.com/sdk.js")

		%script(src="/js/jquery-1.10.2.min.js" type="text/javascript")
		%script(src="/js/underscore-1.5.2.min.js" type="text/javascript")
		%script(src="/js/knockout-3.0.0.min.js" type="text/javascript")
		%script(src="/js/falcon.min.js" type="text/javascript")
		%script(src="/js/finch.min.js" type="text/javascript")

		:javascript
			Falcon.baseApiUrl = "/api";
			window.ENV = ENV = {
				"SOUNDCLOUD_CLIENT_ID": "43c5eb08ce4cad456b238c464be6543e",
				"SOUNDCLOUD_REDIRECT_URL": "#{soundcloud_redirect_url}"
			};

		%script(src="/web/js/rokkin.js" type="text/javascript")

%template#application-tmpl
	-ko("ifnot: $view.is_checking_session") do
		-ko("ifnot: $view.is_logged_in") do
			-ko("view: $view.splash_view")
		-ko("if: $view.is_logged_in") do
			#header
				.logo
					rokk
					.highlight<> .in
				%form.search-form<>
					%input(type="text" placeholder="Search...")
					%i.ion-search

				.pull-right
					.mini-profile(data-bind="with: $view.current_user")
						%img(data-bind="src: Helpers.resize_avatar(avatar_url, 'small')")
						-ko("text: full_name")

					.logout(title="Logout" data-bind="click: $view.logout")
						%i.ion-power

			-ko("view: $view.content_view")
%template#dashboard-tmpl	
	#sidebar
		.sidebar-title Artists you Follow
		%ul.sidebar-list(data-bind="foreach: $view.filtered_followings()")
			%li.sidebar-list-item.clickable
				%img(data-bind="src: Helpers.resize_avatar(avatar_url, 'tiny')")
				-ko("text: full_name")
	#content
		Hello Dash
%template#splash-tmpl
	#splash
		.logo
			rokk
			.highlight<> .in
		.tagline
			Fund &amp; Discover Great Music
		.login-button(data-bind="click: $view.connect")
			%i.icon-soundcloud
			Sign In with SoundCloud