!!!5
%html
	%head
		%title rokk.in | Fund and Discover Great Music

		%link(href="http://fonts.googleapis.com/css?family=Play" rel="stylesheet" type="text/css")
		%link(href="/css/reset.css" rel="stylesheet" type="text/css")
		%link(href="/css/ionicons.min.css" rel="stylesheet" type="text/css")
		%link(href="/css/icomoon.css" rel="stylesheet" type="text/css")
		%link(href="/web/css/rokkin.min.css" rel="stylesheet" type="text/css")

		%script(src="http://connect.soundcloud.com/sdk.js" type="text/javascript")
		%script(src="https://js.balancedpayments.com/v1/balanced.js" type="text/javascript")

		%script(src="/js/jquery-1.10.2.min.js" type="text/javascript")
		%script(src="/js/underscore-1.5.2.min.js" type="text/javascript")
		%script(src="/js/knockout-3.0.0.min.js" type="text/javascript")
		%script(src="/js/falcon.min.js" type="text/javascript")
		%script(src="/js/finch.min.js" type="text/javascript")

		:javascript
			Falcon.baseApiUrl = "/api";
			window.ENV = ENV = {
				"SOUNDCLOUD_CLIENT_ID": "#{ENV['SOUNDCLOUD_CLIENT_ID']}",
				"SOUNDCLOUD_REDIRECT_URL": "#{soundcloud_redirect_url}",
				"BALANCED_MAKRETPLACE_URI": "#{ENV['BALANCED_MAKRETPLACE_URI']}"
			};

		%script(src="/web/js/rokkin.js" type="text/javascript")

%template#application-tmpl
	-ko("if: $view.is_checking_session") do
		.loader.jumbo
	-ko("ifnot: $view.is_checking_session") do
		-ko("ifnot: $view.is_logged_in") do
			-ko("view: $view.splash_view")
		-ko("if: $view.is_logged_in") do
			#header
				.logo
					rokk
					.highlight<> .in
				%form.search-form<>
					%input(type="text" placeholder="Search...")
					%i.ion-search

				.pull-right
					.mini-profile(data-bind="with: $view.current_user")
						%img(data-bind="src: Helpers.resize_image(avatar_url, 'small')")
						-ko("text: full_name")

					.logout(title="Logout" data-bind="click: $view.logout")
						%i.ion-power

			#sidebar
				%ul.sidebar-menu
					%li.sidebar-menu-item(data-bind="css: {'selected': $view.is_dashboard_selected}, click: Router.gotoDashboard")
						%i.ion-compass
						Dashboard

					%li.sidebar-menu-item(data-bind="css: {'selected': $view.is_stream_selected}, click: Router.gotoStream")
						%i.ion-social-rss
						Stream

					%li.sidebar-menu-item
						%i.ion-person
						Profile

					%li.sidebar-menu-item(data-bind="css: {'selected': $view.is_settings_selected}, click: Router.gotoSettings")
						%i.ion-gear-b
						Settings

			#content(data-bind="view: $view.content_view")
%template#dashboard-tmpl	
	%ul
		%li New Users
		%li Top Funders
		%li Top Funded
		%li Your Top Donations
%template#settings-tmpl
	.content-header
		%ul.pill-list
			%li.pill-list-item(data-bind="css: {'selected': $view.is_showing_personal_information}, click: $view.gotoPersonalInfomration")
				%i.ion-ios7-information
				Personal Information
			%li.pill-list-item(data-bind="css: {'selected': $view.is_showing_credit_card}, click: $view.gotoCreditCard")
				%i.ion-card
				Credit Card
	-ko("if: $view.is_showing_personal_information") do
		Personal Information

	-ko("if: $view.is_showing_credit_card") do
		%form.form-standard(data-bind="submit: $view.saveCreditCard, css: {'is_loading': $view.is_saving}")
			-ko("if: $view.has_credit_card") do
				.form-input<>
					%label.form-input-label Current Credit Card
					.form-input-text
						%img(data-bind="src: Helpers.creditCardImageUrl( $view.current_credit_card_type )")
						%span(data-bind="html: Helpers.concat('****&nbsp; ****&nbsp; ****&nbsp; ', $view.current_credit_card_last_4)")
						.btn.btn-small.pull-right(data-bind="click: $view.removeCreditCard")
							%i.ion-close
							Remove
				.form-divider
			.form-input<>
				%label.form-input-label Credit Card Number
				.form-input-control(data-bind="css: {'is_valid': $view.credit_card_number.is_valid, 'has_error': $view.credit_card_number.has_error}")
					%input(type="text" placeholder="0123-4567-8910-0000" data-bind="value: $view.credit_card_number, valueUpdate: 'afterkeydown'" maxlength="19")
					.input-hover(data-bind="text: $view.credit_card_type")
					.input-help-text.error-only(data-bind="text: $view.credit_card_number.error")
			
			.form-input.two-third<>
				%label.form-input-label Expiration
				.form-input-control(data-bind="css: {'is_valid': $view.credit_card_expiration.is_valid, 'has_error': $view.credit_card_expiration.has_error}")
					%input(type="text" placeholder="01/2015" data-bind="value: $view.credit_card_expiration")
					.input-hover
					.input-help-text.error-only(data-bind="text: $view.credit_card_expiration.error")


			.form-input.third
				%label.form-input-label CVC
				.form-input-control(data-bind="css: {'is_valid': $view.credit_card_cvc.is_valid, 'has_error': $view.credit_card_cvc.has_error}")
					%input(type="text" placeholder="123" data-bind="value: $view.credit_card_cvc, valueUpdate: 'afterkeydown'")
					.input-hover
					.input-help-text.error-only(data-bind="text: $view.credit_card_cvc.error")

			.form-actions
				%button.btn.pull-left(data-bind="disable: $view.is_saving")
					%i.ion-close
					Cancel
				%button.btn.btn-primary.pull-right(type="submit" data-bind="disable: $view.is_saving")
					%i.ion-checkmark
					Save
%template#splash-tmpl
	#splash
		.logo
			rokk
			.highlight<> .in
		.tagline
			Fund &amp; Discover Great Music
		.login-button(data-bind="click: $view.connect")
			%i.icon-soundcloud
			Sign In with SoundCloud
%template#stream-tmpl
	-ko("if: $view.is_loading") do
		.loader
	-ko("ifnot: $view.is_loading") do
		-ko("with: $view.current_user") do
			%ul.grid-list(data-bind="foreach: sc_user.activities")
				%li.grid-list-item.track(data-bind="with: track")<>
					.track-image
						%img(data-bind="src: Helpers.resize_image(artwork_url,'t300x300')")
						-ko("if: streamable") do
							.track-play-icon(data-bind="click: play")<>
								-ko("ifnot: is_playing") do
									%i.ion-ios7-play<>
								-ko("if: is_playing") do
									%i.ion-ios7-pause<>
					-ko("text: title")