-unless @params[:error]
	:javascript
		window.opener.Application.connect_response("success", #{@params.to_json})
-else
	:javascript
		window.opener.Application.connect_response("error", #{@params.to_json})