-unless @params[:error]
	:javascript
		window.opener.Application.connectResponse("success", #{@params.to_json})
-else
	:javascript
		window.opener.Application.connectResponse("error", #{@params.to_json})